<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372441154372-b7cfn8oovque4r3bca5hm2ne6bikrvov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372441154372-b7cfn8oovque4r3bca5hm2ne6bikrvov</string>
	<key>API_KEY</key>
	<string>AIzaSyBjZkeGQ_f5BmG5MJ07NjuCg9mASa7iL_o</string>
	<key>GCM_SENDER_ID</key>
	<string>372441154372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-3b550</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-3b550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372441154372:ios:6bf6a064e8894b4e380d11</string>
</dict>
</plist>